.card-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-wrapper img{
  border-radius: 50%;
}
.card-wrapper .name h2{
  font-weight: 400;
}
.back-component .delete, .back-component .edit{
  position: absolute;
  bottom: 0%;
  left:0%;
  z-index: 100;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.back-component .edit{
  left: 12%;
}
.back-component .delete:hover,.back-component .edit:hover{
  background-color: transparent;
  transform: scale(1.2);
}
